/* styles.css */
@font-face {
    font-family: Gratina;
    src: url(/assets/Gratina.otf);
}

body {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    font-family: Gratina;
    font-size: 36px;
    margin-top: 0;
}

.container{
    background-color: #59b8c3;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input.saldo {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #0074cc;
    border-radius: 5px;
}

